{% set navbarActive = 'gallery' %}
{% extends 'TecAytPortalBundle:Common:layout.html.twig' %}

{% block content %}

    <section id="album">
        <div class="container">
            <div class="center">
                <h2>Álbumes de fotos</h2>
            </div>

            <div class="row">
                <div class="portfolio-items">
                    {% for album in albums %}
                        <div class="portfolio-item col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive gallery" src="{{ path('tec_ayt_portal_download', {'id': album.albumId, 'class': 'Album'}) }}" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="{{ path('tec_ayt_portal_content_list', {'id': album.albumId}) }}">{{ album.name }}</a></h3>
                                        <p>{{ album.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.portfolio-item-->
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
