{% set navbarActive = '' %}
{% extends 'TecAytPortalBundle:Common:layout.html.twig' %}

{% block content %}
    <section class="user-type">
        <div class="center wow fadeInDown">
            <h2>¡Felicidades {{ user.fullName }}!</h2>
            <p>Tu usuario {{ user.username }} ha sido creado</p>
            <p>Ya formas parte de la comunidad Ama y Trasciende</p>
            <img class="img-circle profile-img" height="200px" src="{{ asset('bundles/tecaytportal/images/icon-user.png')}}">
            <p>Inicia sesion para disfrutar de los beneficios de se parte de Ama y Trasciende</p>
        </div>
    </section>
{% endblock %}
